---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";

import LogoImage from "../components/LogoImage.astro";
---

<Layout title="Blaisy Records" watermark>
  <main>
    <LogoImage fixed linkToHome />

    <h1 transition:animate={fade({ duration: "1s" })}>About</h1>
  </main>
</Layout>

<style></style>
