---
import Layout from "../layouts/Layout.astro";

import LogoImage from "../components/LogoImage.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="Blaisy Records - About" watermark>
  <main>
    <LogoImage fixed linkToHome />

    <PageTitle title="About" />
    <section>My name is Leo and I come from Blaisy-Bas.</section>
  </main>
</Layout>

<style></style>
