---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
---

<Layout title="Blaisy Records">
  <main>
    <div class="wrapper">
      <img
        transition:name="bubble"
        src="./logo.png"
        alt="Blaisy Records logo"
      />
    </div>
    <h1 transition:animate={fade({ duration: "1s" })}>
      - under construction -
    </h1>
  </main>
</Layout>

<script>
  const video = document.querySelector("video");

  if (video) {
    video.addEventListener("pointerenter", function () {
      this.play();
    });
    video.addEventListener("pointerleave", function () {
      this.pause();
    });
  }
</script>

<style>
  main {
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  h1 {
    color: aliceblue;
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 400;
  }
  .wrapper {
    background-color: white;
    aspect-ratio: 1 / 1;
    width: 150px;
    height: 150px;
    border-radius: 500px;
    padding: 16px;
  }
  img {
    width: 100%;
    height: 100%;
  }
</style>
