---
import Layout from "../layouts/Layout.astro";

import LogoImage from "../components/LogoImage.astro";
import PageTitle from "../components/PageTitle.astro";
---

<Layout title="Blaisy Records" watermark>
  <main>
    <LogoImage fixed linkToHome />

    <PageTitle title="Merch" />
  </main>
</Layout>

<style></style>
