---
import "@fontsource/monoton";
import { ViewTransitions } from "astro:transitions";
import logo from "../../public/logo.png";

interface Props {
  title: string;
  watermark?: boolean;
}

const { title, watermark } = Astro.props;

const logoClass = watermark ? "watermark" : "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta content="#000" data-react-helmet="true" name="theme-color" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <slot name="head" />
  </head>
  <body class={logoClass}>
    <slot />
    <style is:global>
      :root {
      }
      html,
      body {
        margin: 0;
        height: 100%;
      }
      html {
        font-family: system-ui, sans-serif;
        background: #ffffff;
        box-sizing: border-box;
      }
      body {
        min-height: 100dvh;
        padding: 5vh 5vw;

        background: black;
        font-family: "Monoton", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      .watermark {
        background-image: url(../../public/logo_text_darken.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-blend-mode: difference;
      }
      h1 {
        color: white;
        font-size: clamp(20px, 5vw, 50px);
        font-weight: 400;
      }
      a {
        color: white;
      }
    </style>
  </body>
</html>
